body,
html {
  /* background-color: rgba(98, 153, 224, 0.432) !important; */
  background-image: url(../images/winter-image.jpg);
}

.upper-container {
  border: 2px solid rgb(36, 36, 36);
  border-radius: 15px;
  padding: 20px;
  height: 570px;
  width: 1030px !important;
  background-color: rgba(15, 15, 15, 0.80);
  color: #c4c4c4;
  position: relative;
  top: 20px;
}

.cityName {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  width: 430px;
  font-size: 36px;
}

.daily-summary {
  font-size: 20px;
  left: 20px;
  width: 560px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #03a9f46b !important;
}

.temp {
  font-size: 80px;
  /* width: 230px; */
}

.humidity-icon {
  height: 60px;
}

.icon-desc {
  position: relative;
  left: 35px;
  bottom: 18px;
  font-size: 40px;
}

.windHumidity-col {
  position: relative;
  top: 20px;
}

.feels-like-text {
  font-style: italic;
  font-size: 25px !important;
}

.temp-container {
  width: 170px;
  height: 200px;
  position: relative;
  right: 660px;
  top: 70px;
}

.hiTemp {
  /* border: 1px solid black; */
}

.loTemp {
  /* border: 1px solid black; */
  position: relative;
  left: 0px;
  bottom: 48px;
}

.dailyHiTemp {
  font-size: 40px;
}

.dailyLoTemp {
  font-size: 40px;
}

.fa-arrow-up {
  font-size: 30px;
  color: rgb(109, 0, 0);
  font-size: 40px;
}

.fa-arrow-down {
  font-size: 30px;
  color: rgb(6, 6, 88);
  font-size: 40px;
}

.map {
  height: 330px;
  width: 490px;
  border-radius: 15px;
}

.windspeed {
  font-size: 25px;
}

.humidity {
  font-size: 50px;
}

.hourlySum {
  height: 60px;
  width: 510px;
  font-size: 21px;
}

.dayName {
  width: 500px;
  text-align: center;
  border-bottom: 2px solid #03a9f46b;
  padding-bottom: 9px;
  position: relative;
  bottom: 10px;
  font-size: 40px;
}

.fa-tint {
  color: rgb(35, 35, 151);
}
