body,
html {
  background-color: rgb(190, 190, 190) !important;
}

#weatherForm {
  margin: 40px auto;
}

.upper-container {
  width: 80%;
}

.weatherDataTitle {
  font-size: 25px;
}

.weatherDataDesc {
  font-size: 20px;
  color: rgb(38, 55, 204);
}

.snow {
  color: white;
  height: 90px;
  width: 130px;
  position: relative;
  bottom: 5px;
  z-index: 9999;
}

.hum-icon {
  height: 30px !important;
  position: relative;
  bottom: 3px;
  margin-right: 5px;
}

.humDesc {
  font-size: 35px;
}

.banner-title-date {
  text-align: right;
}

.tempNow {
  text-align: center;
  font-size: 5em;
}
