body,
html {
  /* background-color: rgba(98, 153, 224, 0.432) !important; */
  background-image: url(../images/winter-image.jpg);
}

.upper-container {
  border: 2px solid rgb(36, 36, 36);
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  height: 460px;
  width: 490px !important;
  background-color: rgba(15, 15, 15, 0.637);
  color: #c4c4c4;
}

.sevenDay-container {
  position: relative;
  bottom: 20px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #03a9f46b !important;
}

.temp {
  font-size: 80px;
  position: relative;
  left: 5px;
}

.humidity-icon {
  height: 60px;
}

.icon-desc {
  position: relative;
  left: 35px;
  bottom: 18px;
  font-size: 40px;
}

.windHumidity-col {
  position: relative;
  top: 20px;
}

/* #weatherForm {
  margin: 40px auto;
}

.upper-container {
  width: 80%;
}

.weatherDataTitle {
  margin: 20px;
  width: 340px;
}

.weatherDataDesc {
  font-size: 20px;
  color: rgb(38, 55, 204);
  text-align: center;
}

.snow {
  color: white;
  height: 90px;
  width: 130px;
  position: relative;
  bottom: 5px;
  z-index: 9999;
}

.banner-title-date {
  text-align: right;
}

.tempNow {
  text-align: center;
  font-size: 5em;
  margin: 20px auto;
  width: 200px;
}



.location {
  text-align: center;
}

.current-temp {
  font-size: 5em;
} */
