.sevenDay-container {
  position: relative;
  top: 130px;
  width: 1400px;
}

.sevenDay {
  position: relative;
  margin-bottom: 50px;
}

.weatherCard {
  width: 170px;
  background-color: rgba(0, 0, 0, 0.80);
  color: white;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
}

.summary {
  height: 150px !important;
}

.fa-snowflake {
  font-size: 80px;
  text-align: center;
}

.fa-arrow-up,
.fa-arrow-down {
  margin-right: 5px;
}

.cardTemps {
  border-bottom: 1px solid white;
  width: 146px;
  font-size: 20px;
  position: relative;
  right: 12px;
}

.top-weatherIcon {
  height: 90px;
  position: relative;
  left: 41px;
  bottom: 20px;
}

.weatherIcon {
  height: 90px;
  position: relative;
  left: 0px;
  bottom: 0px;
}

.icon-container {
  height: 100px;
  position: relative;
  top: 20px;
}

.card-subtitle {
  color: white !important;
}
