.sevenDay {
  position: relative;
  top: 40px;
  margin-bottom: 80px;
}

.weatherCard {
  width: 170px;
  height: 300px;
  background-color: black;
  color: white;
  text-align: center;
}

.fa-snowflake {
  font-size: 80px;
  text-align: center;
}

.cardTemps {
  border-bottom: 1px solid white;
  margin: 10px auto;
}

.icon-container {
  position: relative;
  top: 30px;
}

.weatherIcon {
  height: 80px;
}
